# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=QD2SLudtkNzWI3vXlapBp2X3WWl38YR59r9BdBp07SaA44FMkhfP8JqzqwjvXqOqIlQ3dDy1zjT3BlbkFJKl4rcpYSCN0vcRaww6fia-vU_-UlPBkfY4JMWSoN6KYO_q0-XKD4cgA9iv_ugpllMvnmdhBxUA

# Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=1febf99090406cb7e9df5c182826b83e

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
